[submodule "BoardBuilder"]
	path = BoardBuilder
url=https://github.com/imchipwood/BoardBuilder.git
[submodule "laserdrw-exporter-for-inkscape"]
	path = laserdrw-exporter-for-inkscape
	url = https://github.com/daniel-thompson/laserdrw-exporter-for-inkscape